In [1]:
import pandas as pd

In [2]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
tabla=pd.read_excel("Base salarios.xls",sheet_name="Base de datos")

In [14]:
tabla.head(15)

,ID empleado,Apellido,Nombre,Seccional,Facultad,Cargo,Salario,Fch comienzo,Fch nacimiento
0,1968,Burgos,Jeronimo,Palmira,Administración,Administrativo,3200000,1982-04-05,1951-09-28
1,1674,Villegas,Estefania,Palmira,Administración,Docente,3200000,1992-03-25,1964-01-17
2,1516,Fernandez,Guillermo,Palmira,Administración,Docente,4500000,1985-03-06,1963-06-26
3,1330,Ramirez,Eliana,Palmira,Administración,Docente,3200000,1989-02-14,1964-05-17
4,1657,Carmona,Jose,Palmira,Administración,Docente,3200000,1987-12-06,1963-10-10
5,1573,De santis,Marcela,Palmira,Administración,Aux. Administrativo,1500000,1988-07-07,1960-05-31
6,1658,Franco,Daniela,Palmira,Administración,Docente,3200000,1988-06-06,1963-10-14
7,1078,Cortes,Rafael,Palmira,Diseño,Administrativo,4200000,1986-04-01,1962-11-21
8,1695,Berrio,Camilo,Palmira,Diseño,Docente,3200000,1984-10-20,1960-01-05
9,1285,Arias,Francisco,Palmira,Diseño,Docente,3200000,1984-12-27,1962-12-22
10,1284,Merizalde,Antonio,Palmira,Diseño,Docente,3200000,1985-01-04,1962-12-11
11,1517,Restrepo,Karen,Palmira,Diseño,Aux. Administrativo,1500000,1985-02-26,1963-07-07
12,1674,Lemus,David,Palmira,Diseño,Docente,3200000,1990-04-08,1962-09-12
13,1056,Santana,Javier,Monteria,Comunicación,Administrativo,5600000,1979-10-25,1937-08-24
14,1977,Saldarriaga,Virginia,Monteria,Comunicación,Docente,4200000,1991-09-09,1960-10-13

In [47]:
def nombres_cargos(x):
    cargo=[]
    nombres=[]
    for i in tabla['Cargo']:
        cargo.append(i)
    for i in range(len(cargo)):
        if cargo[i] == x:
            nombres.append(tabla['Nombre'][i]+" "+tabla['Apellido'][i])
    return nombres

In [98]:
def salario_cargo(x):
    if type(x) == int or type(x) == float: 
        equivalencia=162.24
        salario=[]
        nombres=[]
        for i in tabla['Salario']:
            salario.append(i)
        for i in range(len(salario)):
            if salario[i]/equivalencia <= x:
                nombres.append(tabla['Nombre'][i]+" "+tabla['Apellido'][i])
        if len(nombres)>0:        
            return nombres
        else:
            print("Nadie gana menos de $",x)
    else:
        print("La función solo acepta numeros")

In [105]:
salario_cargo(15000.23)

La función solo acepta numeros

In [120]:
diccionario={"coches":["nissan","bmw","audi","mercedes","porsche"],"precio":[250000,670000,600000,700000,850000],"modelo":["altima","m4","a4","e8","carrera gt"]}

In [124]:
dir3={"a":[1,2,3,4,5],"b":[546,1321,5484,32131,4],"c":["dkkd","dsgd","svdhcd","nif","jbvjkf"]}

In [125]:
df=pd.DataFrame(data=diccionario)
df2=pd.DataFrame(data=dir3)

In [131]:
export=df.to_excel("Archivo_prueba.xlsx",sheet_name="Hoja1")
export2=df2.to_excel("Archivo_prueba.xlsx",sheet_name="Hoja2")

In [133]:
with pd.ExcelWriter("Archivo_prueba.xlsx") as writer:
    df.to_excel(writer,sheet_name="Hoja1")
    df2.to_excel(writer,sheet_name="Hoja2")